@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #292929;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.loader {
  border-top: 8px solid #F3CB89; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}